html {
  font: 18px/20px Trebuchet MS, Helvetica, Arial, sans-serif;
}

body {
  background-color: cornsilk;
  margin: 0;
  padding: 50px 0;
}

main {
  width: min(1000px, 90%);
  margin: auto;
  border: 2px solid black;
  border-radius: 30px;
  padding: 5px 25px;
  background-color: bisque;
}

hr {
  border: none;
  border-top: 2px solid black;
}