html {
  font: 16px/20px Trebuchet MS, Helvetica, Arial, sans-serif;
}

body {
  background-color: cornsilk;
  margin: 0;
  padding: 50px 0;
}

main {
  width: min(1000px, calc(100% - 110px));
  margin: auto;
  border: 2px solid black;
  border-radius: 30px;
  padding: 15px 45px;
  background-color: bisque;
}

hr {
  border: none;
  border-top: 2px solid black;
}

img {
  border: 2px solid black;
  border-radius: 20px;
  width: 20.5%;
  float: right;
  margin-left: 10px;
}

pre {
  font-size: 14px;
}

:link, :visited {
  color: #e45f00;
  transition: color 1s;
}

a:hover {
  color: black;
}

.cutout {
  border: 2px solid black;
  background-color: cornsilk;
  margin: 10px 0;
  border-radius: 25px;
}

.slider {
  border: 2px solid black;
  border-radius: 20px;
  padding: 5px 25px;
  background-color: bisque;
  width: max-content;
  max-width: 97.8%;
  margin: 5px;
  box-sizing: border-box;
}

.slider-left {
  animation: left 2s ease-out 0 infinite alternate;
}

.slider-center {
  margin: 5px auto;
}

.slider-right {
  margin-left: auto;
  overflow: auto;
  padding: 5px 50px;
}

@keyframes left {
  0% {  }
  50% { transform: translateX(100%); }
}